/* COMPONENTS */

.flex {
	display: flex;
	gap: 2rem;
}

.flex__aside {
	flex: 1;
}

.flex__grille {
	display: grid;
	flex: 3;
}

.flex__grille--3 {
	gap: 4rem;
	grid-template-columns: repeat(3, 1fr);
}

.livre {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.livre__flex {
	display: flex;
	justify-content: space-between;
}
.livre__prix {
	font-size: 1rem;
	font-weight: 600;
}

.livre__button {
	border: 1px solid black;
	padding: 0.3rem 0.5rem;
	background-color: white;
	font-weight: 600;
}

.liActive {
	color: red;
}

.modal {
	/* align-items: center; */
	background-color: rgba(0, 0, 0, 0.9);
	/* display: flex; */
	height: 100%;
	left: 0;
	margin: 0;
	padding: 12vw;
	position: fixed;
	top: 0;
	width: 100%;
}

.modal--ferme {
	opacity: 0;
	pointer-events: none;
}

.modal--ouvert {
	opacity: 1;
}

.modal__contenu {
	background-color: white;
	padding: 4rem;
	display: flex;
	gap: 4rem;
}

.modal__texte {
	flex: 1;
}

.modal__img {
	flex: 1;
}

.panier__detail {
	position: absolute;
	padding: 1rem;
	right: 6vw;
	margin-top: 0.5rem;
	border: 1px solid black;
	background-color: white;
}

.panier__detail::before {
	border-style: solid;
	border-width: 1px 1px 0 0;
	content: "";
	display: inline-block;
	background-color: white;
	height: 0.45em;
	right: 3.2vw;
	position: absolute;
	top: -5px;
	transform: rotate(315deg);
	vertical-align: top;
	width: 0.45em;
}

.panier__detail--ferme {
	opacity: 0;
}

.panier__detail--ouvert {
	opacity: 1;
}

.panier__somme {
	font-weight: bold;
}

.panier__icon::before {
	content: "";
	display: block;
	background: url("../../../assets/img/panier.svg") no-repeat;
	width: 30px;
	height: 30px;
}
